doctype html
html.cqs(lang="en", ng-app="client")

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        meta(name="description", content="")
        meta(name="author", content="")

        title CQS | CaseWare Cloud

        style.
            .ng-cloak { display: none }

        include partials/index-styles

    body.ng-cloak(data-spy="scroll", data-target=".navbar-scroll", ng-controller="ctrlMain")

        include partials/sections
        include partials/modals

        include partials/index-scripts

        script.
            window['SITECFG'] = { price: { currency: 'R', factor: '10' } }

        script(src='scripts/client.min.js')