doctype html
html(lang="en", ng-app="client")

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        meta(name="description", content="")
        meta(name="author", content="")

        title CQS | CaseWare Cloud

        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet")
        //link(href="styles/bootsketch.css" rel="stylesheet" type="text/css")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="styles/client.min.css" rel="stylesheet" type="text/css")


    body(data-spy="scroll", data-target=".navbar-scroll")

        include partials/nav
        include partials/static
        include partials/section-1
        include partials/section-2
        include partials/section-apps
        include partials/section-3
        include partials/section-pricing
        include partials/section-4
        include partials/section-story
        include partials/section-5

        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
        script(src='scripts/client.min.js')