doctype html
html(lang="en")

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        meta(name="description", content="")
        meta(name="author", content="")
        title CQS | CaseWare Cloud | Privacy Policy
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="styles/client.min.css" rel="stylesheet" type="text/css")

    body: .section-terms: .container
        .row: .col-xs-12
            img(src="images/cwcloud-logo.png")

        .row: .col-xs-12
            h3 PRIVACY POLICY


        .row: .col-xs-12
            h4 1.	Introduction
            p CQS Technology Holdings (Proprietary) Limited’s (“CQS”, “Our”, “Us” or “We”) Privacy Policy explains what of your information may become available to Us, how We would use that information, and the security around your information, in order to be as transparent as possible. By accessing CQS’s Website and/or making use of the CaseWare Cloud Ltd services (“Services”), you are deemed to have accepted and agreed to the information collection and use practices described in this Privacy Policy.


        .row: .col-xs-12
            h4 2.	Definitions
            p 2.1.	"Data Protection Legislation" means any applicable data protection or data privacy laws applicable in South Africa from time to time;
            p 2.2.	"Personal Information" means information relating to any person or organisation, which includes but is not limited to all information about that person such as their identifying information and/or characteristics pertaining to their race, gender, sex, marital status, ethnic and/or national origin, age, disability, pregnancy, medical records and criminal behaviour etc. Personal Information further refers to the personal opinions of a person and/or to the opinions of others about that person, correspondence of an implicitly or explicitly private nature and contact information etc.


        .row: .col-xs-12
            h4 3.	Local Privacy Laws and Good Practice
            p Our privacy practices reflect current local principles and standards on handling information. We abide by the privacy and Data Protection Legislation of the Republic of South Africa.


        .row: .col-xs-12
            h4 4.	Links To Other Web Sites
            p Should you make use of any external links to third party websites which may be provided for your convenience, you should be aware that those websites are not subject to this Privacy Policy and you agree that We will not be held responsible for any use or misuse of your Personal Information by such third party website. CQS recommends that you review the privacy policy at each such website to determine how that website protects your privacy.


        .row: .col-xs-12
            h4 5.	Information We collect
            p We collect information in two ways:
            p 5.1.	Information you provide to Us. For example, you will be asked to sign up for an account, and when you do, We may ask for personal information, such as your name, email address, telephone number, credit card details and/or banking details related to a signed debit order agreement. If you want to take full advantage of the sharing features We offer, We might also ask you to create a publicly visible profile, which may include your name and photograph.
            p 5.2.	Information We obtain from your use of Our Services. CQS’s Website will automatically collect information about the Services that you use and how you use them. This information includes:
            p 5.2.1.	Device information
            p We may collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number) which may be associated with your account.
            p 5.2.2.	Log information
            p When you use Our Services or view content provided by Us, CQS may automatically collect and store certain information in server logs. This may include:
            p
                ul
                    li details of how you used Our Service;
                    li your Internet Protocol address;
                    li device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and time of your request and referral URL; and/or
                    li cookies that may uniquely identify your browser or your account with Us.
            p 5.2.3.	Unique application numbers
            p Certain Services include a unique application number. This number together with any information about your installation (for example, the operating system type and application version number) may be sent to Us when you install or uninstall that Service or when that Service periodically contacts Our servers, such as in the event of automatic updates.


        .row: .col-xs-12
            h4 6.	Local storage
            p CQS may collect and store information (including personal information) locally on your device using mechanisms such as browser Web storage (including HTML 5) and application data caches.


        .row: .col-xs-12
            h4 7.	Cookies and anonymous identifiers
            p 7.1.	Our website, applications and Services generally may use “cookies”. A cookie enables us to remember and store information on your computer when you use the website or Services. Cookies collected by Us will be treated as non-personal information. To the extent that Internet Protocol (IP) addresses or similar identifiers are considered Personal Information by South African law, We may treat these identifiers as Personal Information.
            p 7.2.	If you want to disable cookies, you may do so but this may make certain Services or access to portions of Our website or Services inaccessible/unavailable.


        .row: .col-xs-12
            h4 8.	Spam
            p CQS will not send or promote the sending of unsolicited commercial communications (“spam”) and will take reasonable measures to ensure that its facilities are not used by others for this purpose.


        .row: .col-xs-12
            h4 9.	How We use information We collect
            p 9.1.	We use the information We collect to process payments, as well as to provide, maintain, protect and improve the Services, to develop new Services, and to protect CQS and Our users.
            p 9.2.	We may use the name you provide across all of the services We offer that require a CQS account. If other users already have your email address, or any other information that identifies you, We may show them publicly visible profile information, such as your name and photograph.
            p 9.3.	When you contact CQS, We may keep a record of your communication to help solve any issues you might be facing. We may use your email address to inform you about Our Services, such as letting you know about upcoming changes or improvements to the Services.
            p 9.4.	We use information collected from cookies and other technologies, to improve your user experience and the overall quality of Our Services. For example, by saving your language preferences, We will be able to have Our services appear in the language you prefer.
            p 9.5.	We will ask for your consent before using information for a purpose other than those that are set out in this Privacy Policy.
            p 9.6.	CQS may disclose your Personal Information if We reasonably determine it necessary to protect our operations, the Services, other users, to enforce the terms and conditions of the Services, to exercise Our legal rights or defend against legal claims or to provide the Services, but in all instances in compliance with Data Protection Legislation. In this event We shall notify you accordingly. CQS does not share personally identifiable information with any party other than the administrator of your account unless We have a good-faith belief that it is necessary due to reasons of law, legal process or requests from governmental authorities/regulators that your personal information be disclosed in order to:
            p 9.6.1.	meet any applicable law, regulation, legal process or enforceable governmental request;
            p 9.6.2.	enforce applicable User Terms and terms of acceptable use, including but not limited to the investigation of potential violations;
            p 9.6.3.	detect, prevent, or otherwise address fraud, security or technical issues; and/or
            p 9.6.4.	protect against harm to the rights, property or safety of CQS, Our users or the public as required or permitted by law.
            p 9.7.	CQS may share aggregated, non-personally identifiable information regarding Our services, publicly and with partners such as publishers, Our distributors or connected sites. For example, We may share non-personally identifiable information publicly to show trends or use of Our services.
            p 9.8.	CQS processes Personal Information utilizing Amazon Web Services servers located outside of South Africa (the link to the CaseWare Cloud's privacy policy is <a href="http://www.casewarecloud.com/pdf/CaseWare%20Cloud%20Privacy%20Policy.pdf">http://www.casewarecloud.com/pdf/CaseWare Cloud Privacy Policy.pdf</a>). Through your acceptance of the Terms and your use of the Services, you shall be deemed to have consented to Our storing your information in jurisdictions outside of South Africa


        .row: .col-xs-12
            h4 10.	Information Security and Protection of Personal Information
            p 10.1.	By accepting the Terms and making use of the Services you agree to comply with the provisions of all applicable Data Protection Legislation.
            p 10.2.	CQS shall in turn comply with the provisions of all applicable Data Protection Legislation in relation to any Personal Information processed in connection with the Terms and your use of the Services.
            p 10.3.	For the purposes of facilitating your compliance with Data Protection Legislation, We shall, on your written request, furnish to you copies of such security, audit and control reports generated by CQS's auditors as are directly relevant to such compliance. We shall further comply with any request for access or any query from an individual who is the subject of Personal Information and/or respond to any enquiry made, or investigation or assessment of any processing initiated by a relevant regulatory authority in respect of such Personal Information.
            p 10.4.	We shall promptly notify you when We become aware of any unauthorised, unlawful or dishonest conduct or activities, or any breach of the Terms and/or this Privacy Policy relating to your Personal Information.
            p 10.5.	We work hard to protect Our users from unauthorized access to or unauthorized alteration, disclosure or destruction of Our users’ information whilst held by Us. In particular:
            p 10.5.1.	We encrypt many of Our services using SSL;
            p 10.5.2.	We restrict access to Personal Information to only those CQS employees, contractors and agents who require that information in order to process it for Us, Such CQS employees, contractors and agents  are subject to confidentiality policies or contracts, and may be disciplined or terminated if they fail to meet these obligations;
            p 10.5.3.	We review Our practices to guard against unauthorized access to systems;
            p 10.5.4.	We store your Personal Information on Amazon Web Services Server infrastructure which infrastructure consists of limited access servers and may be located outside the country you are working from. CQS utilizes Amazon Web Servers in the United States for North America and Australia, and Amazon Web Servers in Ireland for other jurisdictions;
            p 10.5.5.	CQS has examined the Amazon Web Services security policies, and their third party certifications and accreditations, in order to assure Ourselves that We are provided with a comparable level of protection of the privacy of personal to that available in Canada, while that information is in the custody of Amazon Web Services; and
            p 10.5.6.	CQS, the CaseWare website and Services rely on the Amazon Web Services security polices and their accreditations which Amazon Web Services security policies are a key element to protecting your sensitive information.
            p 10.6.	CQS shall not retain your data and/or Personal Information longer than is necessary to fulfil the purposes for which it was collected or as required by applicable laws or regulations. We shall return or destroy such data and/or Personal Information to you on demand or if the specific purpose of such data and/or Personal Information is no longer required, subject to any legal obligation to retain such Personal Information.
            p 10.7.	Notwithstanding the aforegoing, CQS cannot guarantee that information transmission over the internet is 100% (one hundred percent) secure and therefore cannot warrant the security of any personal identifiable information transmitted by you.


        .row: .col-xs-12
            h4 11.	Policy Modifications
            p CQS may, from time to time and in its sole discretion, amend this Privacy Policy by posting any changes on the Website and to the Services, by your continued use of the services or visit to the Website you consent to any such changes that may occur. We recommend that you view our Privacy Policy on a regular basis.


        .row: .col-xs-12
            p: em Last update 02 October 2014
