doctype html
html(lang="en")

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        meta(name="description", content="")
        meta(name="author", content="")
        title CQS | CaseWare Cloud | Terms & Conditions
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet")
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="styles/client.min.css" rel="stylesheet" type="text/css")

    body: .section-terms: .container

            .row: .col-xs-12
                img(src="images/cwcloud-logo.png")


            .row: .col-xs-12
                h3 USER TERMS AND ACCEPTABLE USE


            .row: .col-xs-12

                h4 1. INTRODUCTION
                p 1.1. These terms and conditions of service (the “Terms”) govern your access to and use of CQS Technology Holdings Limited’s (“CQS”, “We” or “Us” or “Our”) website and the CaseWare Cloud Ltd secure web-based collaboration environment which includes but is not limited to client portal, document management, engagement tracking, dashboard mining and social services which are licensed to Us by CaseWare Cloud Ltd and which we, in turn sublicense to you (the “Services”), so please read the following Terms carefully before using the Services.
                p 1.2. By using the Services you accept and agree to be bound by these Terms. You may use the Services only in compliance with these Terms. You may use the Services only if, and by using the Services you confirm that you do, have the capacity and/or requisite authority to form a contract with Us and are not barred under any applicable laws from doing so.
                p 1.3. The CaseWare Cloud order form and trade credit application (automatic payment by debit order) are deemed to be incorporated in and read with these Terms by reference hereto.


            .row: .col-xs-12

                h4 2. GRANT AND NATURE OF LICENCE
                p 2.1. We grant to you a personal, non-exclusive, non-transferable, non-assignable, limited, revocable licence to use the Services subject to the Terms and any further restrictions as may be advised by Us to you from time to time.
                p 2.2. The Services are licenced and not sold. Your licence to use the Service is conditional upon payment of an applicable licence and use fee (“Fees”), as stated in an order form and set out further below.
                p 2.3. The licence granted under these Terms, permits your use of the Services for your own internal purposes, the purposes for which the Service was intended as stated herein.


            .row: .col-xs-12

                h4 3. USE AND RESTRICTIONS
                p 3.1. You agree to use the Services only for purposes as permitted by these Terms and any applicable law, regulation, or generally accepted practice in South Africa. If your use of the Services or other behaviour intentionally or unintentionally threatens Our ability to provide the Service, We shall be entitled to take all reasonable steps in protecting the Services and CQS’s systems, which may include suspension of your access to the Service. Repeated breaches of the limitations by you may result in permanent termination of your access and functionality of the Services.
                p 3.2. You may not copy nor permit any party to copy the Services. You may not modify, de-compile, disassemble or otherwise reverse-engineer the Services or the source code therein. You may not sell, lease, sub-licence, rent, loan, resell or otherwise transfer the Services.
                p 3.3. Use of the Services may require compatible devices such as smart phones and tablets, a computer, internet access, and certain software, where additional fees such as third party service providers, may apply.


            .row: .col-xs-12

                h4 4. COMMENCEMENT AND DURATION
                p 4.1. These Terms governing the Services will commence on the date set out in the order form (“Effective Date”) and continue in force for the period as set out in the order form, where after same shall be automatically renewed and continue in force for athe same further period as set out in the order form unless either party gives the other notice of termination in writing not later than three months prior to the end of the Term


            .row: .col-xs-12

                h4 5. FEES
                p 5.1. Fees are applicable for the use of the Services by you. Billing will be in advance and payment must be made on presentation of an invoice unless you elect to make payment by way of automatic debit order in which case payment will be due on the 1st day of the month.  Payment can be made via electronic funds transfer (“EFT”), credit card or automatic debit order.  Should you choose to pay by automatic debit order, you will be required to sign an automatic debit order agreement with Us.
                p 5.2. Additional costs will be incurred should you exceed the allocated storage amount as stated in the applicable order form. Additional active users (staff) will be charged an additional amount as set out in an applicable order form.  Any data transfer, bandwidth and internet costs incurred by an auditing or accounting practice (“practice”), or corporates involved in such practice, or a client of the practice, whilst on the practice’s premises (e.g. file uploads, downloads) will be at the practice’s expense, as per their normal internet service provider (“ISP”)’s bill.
                p 5.3.	You agree that We may invoice you or charge your credit card or run additional Fees on your automatic debit order for any such additional costs incurred related to the Services such as over utilising your storage capacity and for any additional amounts (including any taxes and late fees, as applicable) that may be accrued by or in connection with the Services.
                p 5.4.	You are responsible for the timely payment of all Fees and for providing Us with valid credit card or payment account details for payment of all such Fees. If We are unable to successfully charge your credit card or payment account for Fees due, We reserve the right to revoke, restrict or suspend access to the Services, or terminate such Services for a material breach. We will charge tax when required to do so under the tax rules applicable to the Service.
                p 5.5.    If you believe you have been billed in error for the Services please notify Us within 14 (fourteen) days of the billing date by contacting support@cqscloud.com.
                p 5.6.    All Fees paid by you in relation to the Services are non-refundable, except as required by law or as otherwise stated herein.
                p 5.7.    You can terminate your licence to use the Services by notifying Us in writing on 1 (one) months’ notice. Early termination, however, will result in any Fees paid for the Services being forfeited.
                p 5.8.    We may at any time, upon prior written notice as may be required by applicable law, change the prices of the Service or institute new Fees. Price changes and institution of new Fees implemented during your subscription billing year will apply to subsequent subscription billing years and to all new subscribers after the effective date of the change. If you do not agree to any such price changes, then you must notify Us, cancel or stop using the Services.


            .row: .col-xs-12
                h4 6.	LIMITATION OF LIABILITY
                p 6.1.	You expressly understand and agree that to the maximum extent permitted by law, We and Our affiliates, subsidiaries, officers, directors, employees, agents, partners and licensors shall not be liable to you or to any of your employees, directors, agents or clients for any direct, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data, cost of procurement of substitute goods, software or services, or other tangible or intangible losses, even if We have been advised of the possibility of such damages, which may or may not result from:
                p 6.1.1.	the use or inability to use the Services; or
                p 6.1.2.	any changes made to the Services or any temporary or permanent cessation of the Services or any part thereof; or
                p 6.1.3.	the unauthorized access to or alteration of your transmissions or data; or
                p 6.1.4.	the deletion of, corruption of, or failure to store and/or send or receive your transmissions or data on or through the Services; or
                p 6.1.5.	statements or conduct of any third party on the Services; or
                p 6.1.6.	any other matter relating to the Services.
                p 6.2.	Notwithstanding clause 6.1, should such clause be deemed inadmissible or against permitted law, then to the maximum extent permitted by applicable law, in no event shall the total aggregate liability of Us exceed the greater of:
                p 6.2.1.	the amount paid by you for the Services; or
                p 6.2.2.	1 (one) month’s subscription fees for use of the Services.


            .row: .col-xs-12
                h4 7.    INDEMNITY
                p 7.1.    You agree to defend, indemnify and hold Us, our affiliates, subsidiaries, directors, officers, employees, agents, partners, contractors, and licensors harmless from any claim, costs or demand, including reasonable attorneys’ fees, made by a third party, relating to or arising from:
                p 7.1.1.    any content you submit, post, transmit, or otherwise make available through the Services;
                p 7.1.2.    your use of the Services;
                p 7.1.3.    any violation by you of these Terms;
                p 7.1.4.    any action taken by Us as part of our investigation of a suspected violation of these Terms or as a result of our finding or decision that a violation of these Terms have occurred; or
                p 7.1.5.    your violation of any rights of another.


            .row: .col-xs-12
                h4 8.    LIMITED WARRANTY AND DISCLAIMER
                p 8.1.    To the maximum extent permitted under applicable law, all conditions, endorsements, guarantees, assurances, representations, or warranties of any kind, express or implied, including without limitation, any conditions, endorsements, guarantees, representations or warranties of durability, fitness for a particular purpose or use, merchantability, merchantable quality, non-infringement, satisfactory quality, or title, or arising from a statute or custom or a course of dealing or usage of trade or related to the Service or its use, or performance or non-performance of the Service, or any third party products referenced herein, and all other warranties, representations, conditions, endorsements or guarantees of any kind, either express or implied, are hereby disclaimed and excluded.
                p 8.2.    The Services are provided or made accessible for use, "as is" and "as available" and We assume no responsibility for any typographical, technical, or other inaccuracies, errors, or omissions in the Service. We reserve the right to periodically change information that is contained in the Service; however, We make no commitment to provide any such changes, updates, enhancements, or other additions to the Service to you in a timely manner or at all.


            .row: .col-xs-12
                h4 9.    INTELLECTUAL PROPERTY
                p 9.1.    We do not claim ownership of the materials and/or content you may submit or make available through the Services. However, by utilising the Services, you grant Us a worldwide, irrevocable, royalty-free, non-exclusive licence to use such content solely for the purpose for which such content was submitted or made available, without any compensation or obligation to you. You agree that any content submitted or posted by you shall be your sole responsibility, shall not infringe or violate the rights of any other party or violate any laws, contribute to or encourage infringing or otherwise unlawful conduct, or otherwise be obscene, objectionable, incite violence or hate speech. By using the Services, you represent that you are the owner of such material and/or have all necessary rights, licences, and authorization to distribute it.
                p 9.2.    You are not granted any rights or licence in any of the Intellectual Property Rights, and further agree that you shall not remove, obscure, or alter any proprietary notices (including trademark and copyright notices) that may be affixed to or contained within the Service.
                p 9.3.    You acknowledge that all of the trademarks, copyright, graphics, logos, source code, domain names, service marks, software code and all other intellectual property associated with the Services and which may be embodied in connection with the Services itself, whether registered or not and wherever in the world they exist (“Intellectual Property Rights”) is and will remain the sole property of Us or our licensors and We own all legal right, title and interest to such Intellectual Property Rights. You may not question or dispute the ownership of the rights at any time during the continuation in force or after termination of these Terms. We represent that, to the best of CQS’s knowledge, the Services do not infringe upon or violate any Intellectual Property Rights of any third party.


            .row: .col-xs-12
                h4 10.    DATA PRIVACY
                p 10.1.    You understand that by using the Services, you consent and agree to the collection and use of certain information about your company and your use of the Services in accordance with Our Privacy Policy. You further consent and agree that We may collect, use, transmit, process and maintain information related to any devices or computers registered thereunder, for purposes of providing the Services only, and any features therein, to you as well as meeting any legal requirements required of Us. Information collected by Us when you use the Services may also include technical or diagnostic information related to your use that may be used by Us to support, improve and enhance the Services as well as other products and services. For more information please read Our full privacy policy at <a href="http://www.casewarecloud.com/pdf/CaseWare%20Cloud%20Privacy%20Policy.pdf">http://www.casewarecloud.com/pdf/CaseWare Cloud Privacy Policy.pdf</a> which is incorporated into these Terms by reference hereto. You further understand and agree that this information may be transferred to other countries for storage, processing and use by Us, our affiliates, and/or their service providers but shall always be subject to applicable South African privacy and personal information protection legislation.
                p 10.2.    If you use third party services and third party software on or in connection with the Services, third parties may be able to read, access, export and otherwise process data (including personal information) stored on your device or computer. Such third party services that are accessed are not under Our control.
                p 10.3.    You warrant that you have obtained all consents necessary under applicable law to disclose such information to Us to collect, use, process, transmit, and/or disclose such information as described above.


            .row: .col-xs-12
                h4 11.    SECURITY, ACCOUNTS AND PASSWORDS
                p 11.1.    You agree to assume full responsibility for the establishment of appropriate security measures to control access to your devices and computers with which you utilise the Services. Without limiting the foregoing, you agree to choose robust passwords, and to maintain the security and confidentiality of all passwords used to access the Services, including passwords used to access any account established in connection with the Services, if any. You further agree that you are responsible for all activity that occur using your passwords, or on or through the Services, including all Fees, if any, or other liability incurred in respect of such activity. You agree to immediately notify Us of any unauthorized use of all or any portion of the Services, by contacting Our customer support. We may take such actions that We deems appropriate following receipt of such notification, but have no obligation to take any action. You agree that notifying Us as set out in this clause does not relieve you of responsibility for all activity that occurs using your passwords, or on or through the Services.
                p 12.    BREACH, TERMINATION AND SUSPENSION
                p 12.1.    The Services shall terminate as per the order form or in accordance with these Terms and in the event of any termination, any Fees already paid during the continuance of these Terms will not be refundable. You agree to return, delete, destroy and/or erase the Services from all of your device/s and/or computers and furthermore not to use or access the Services.
                p 12.2.    In addition to any other of our rights or remedies set forth in this Agreement:
                p 12.2.1.    If you breach the Terms, CQS may, in its sole discretion, take certain actions it deems appropriate. Such actions may include, but are not limited to, temporary or permanent removal of content, blocking or partial blocking of internet transmissions, and/or the immediate suspension or termination of all or any portion of your use of the Services.
                p 12.2.2.    We may, in addition to all other rights and remedies provided by the Terms or by law;
                p 12.2.2.1.    immediately terminate the Services and any other licence agreement between ourselves if you breach the Terms, including but not limited to, by failing to pay any Fees within 30 (thirty) days of such Fees becoming due and payable; and/or
                p 12.2.2.2.    cease to provide the Services to you.
                p 12.2.3.    Should the Services be terminated and should We, in Our sole discretion, determine that you have paid Us for use of the Services and you are not in breach of the Terms; you may be entitled to a refund of all or a portion of the amount you paid to Us for use of such Services. Such refund, if any, will be your only entitlement and Our sole liability to you in the event of a termination of the Services in terms of this clause 12.2.3.
                p 12.2.4.    We may terminate the Services without any liability whatsoever to you if We are prevented from providing any portion or all of the Services by any law, regulation, requirement or ruling issued in any form whatsoever by judicial or other regulatory body, or if a notice from a regulatory body indicates to Us that We are not permitted to provide any portion or all of the Services. Nothing herein shall be construed to require Us to seek a waiver of any such law, rule, regulation, or restriction, or seek judicial review or appeal of any court order.
                p 12.2.5.    Except as expressly provided herein, to the maximum extent permitted by applicable law, We shall not have any liability to you arising from or related to the termination of the Services, or any rights or licences granted herein, in accordance with these Terms.
                p 12.2.6.    Any termination under these Terms by Us will be effective without Our obtaining any judicial or administrative consent, approval or resolution whatsoever.
                p 12.3.    Upon termination of these Terms or the Services, however caused, or if your subscription of the Services expires:
                p 12.3.1.    you will immediately discontinue all use of the Services, or in the case where these Terms or the Services are not terminated, the item(s) of software for which the licence, has been terminated or expired, and return all copies of such software and/or the Services, that are in your possession or control; and
                p 12.3.2.    We shall have the right to block any transmission of data to and from such device utilising the Services. You shall remain liable for all amounts due up to and including the effective date of termination in relation to the Services. In the event of the termination by Us pursuant to provisions of these Terms, you shall pay to Us all Fees (including reasonable attorney’s fees and costs) and related expenses expended or incurred by Us in the enforcement of its rights hereunder. Notwithstanding the foregoing, because of the nature of the Services, it may be impossible to return the Services or software because the software and/or Services is integrated into hardware that you may own or installed on a computer or server, therefore you irrevocably undertake to permanently delete any such software of the Services from such devices and confirm in writing to Us that you have complied with this requirement.
                p 12.4.    We may at any time, terminate or suspend these Terms or your use of the Services if:
                p 12.4.1.    you have breached any provision of these Terms;
                p 12.4.2.    We are required to do so by law;
                p 12.4.3.    a service provider with whom We utilise in order to provide the Services, of any portion thereof, to you has terminated its relationship with Us; or
                p 12.4.4.    the provision of the Services to you by Us is, in Our reasonable opinion, no longer commercially viable.
                p 12.5.    When this Agreement is terminated, all of the legal rights, obligations and liabilities that the parties have benefited from, been subject to (or which have accrued over time whilst the Terms have been in force) or which are expressed to continue indefinitely, shall be unaffected by this termination, and such provisions by which their nature shall continue, shall continue to apply to such rights, obligations and liabilities indefinitely.


            .row: .col-xs-12
                h4 13.    AUDIT
                p 13.1.    We reserve the right to periodically use features to audit you to ensure that you are not using the Services in violation of these Terms.


            .row: .col-xs-12
                h4 14.    RELATIONSHIP
                p 14.1.    Nothing contained herein shall be deemed to constitute either party as an agent, representative, employee or partner of the other party, or both parties as joint venturers or partners for any purpose. Save as expressly stated herein to the contrary, neither party shall be responsible for the acts or omissions of the other party, and you shall not have the authority to bind, incur, speak for, represent or obligate Us in any way whatsoever.


            .row: .col-xs-12
                h4 15.    DOMICILIUM AND NOTICES
                p 15.1.    You choose as your nominated addresses for the purposes of sending and receiving legal process, notices or other documents or communications under these Terms, the address as set out in the order form as stated by you. In addition to the foregoing, We may, at our option, give you any notice under these Terms electronically.
                p 15.2.    Our address is: PO BOX 598 Parklands 2121 South Africa, Email: support@cqscloud.com, Attention: Managing Director. You shall only give notice or communication required or permitted to be given in terms of these Terms and shall be valid and effective only if in writing.
                p 15.3.    Either party may, by notice to the other party, change its nominated address to another physical address within the Republic of South Africa and fax number, provided that the change shall become effective on the 7th (seventh) day after the date of receipt of the notice by the other party.
                p 15.4.    Any notice to a party contained in a correctly addressed envelope and delivered by hand to a responsible person during ordinary business hours on a business day at its nominated address shall be deemed to have been received at the time of delivery (unless the contrary is proved) or if so delivered outside ordinary business hours on a business day or on a day which is not a business day shall be deemed to have been received on the following business day.
                p 15.5.    Notwithstanding anything to the contrary herein contained, a written notice or communication actually received by the other party shall be an adequate written notice or communication to that party, notwithstanding that it was not sent to or delivered at that party’s nominated address.


            .row: .col-xs-12
                h4 16.    GENERAL
                p 16.1.    You may not cede, assign, transfer or attempt to assign or transfer your rights or obligations under these Terms without the prior written consent of Us. Furthermore We shall be entitled to cede and/or assign all or any part of its rights and/or obligations under this Agreement on notice to you. Any attempt by you to cede, assign or transfer rights or obligations under these Terms in violation of this clause will be void and of no force and effect.
                p 16.2.    These Terms will be governed and construed in accordance with the laws of the Republic of South Africa and all disputes, actions and other matters relating thereto will be determined in accordance with such law.
                p 16.3.    If any provision of these Terms is found to be inconsistent with or void under any applicable law, the validity of the remaining provisions shall not be adversely affected and shall continue to be valid and enforceable. In such case, we shall re-negotiate the ineffective provision with the object of replacing it as closely as possible with a provision affording the same basic rights, obligations and economic effects with respect to all concerned parties.
                p 16.4.    These Terms constitute the whole and entire agreement between the parties with regard to the subject matter hereof neither party shall be bound by any undertakings, representations, warranties or promises not recorded herein.
                p 16.5.    No waiver or abandonment by Us of any of our rights in these Terms, shall be binding on Us, unless such waiver or abandonment is in writing and signed by Us, and any such waiver or abandonment shall be effective only in the specific instance and for the specific purpose given. Any failure or delay by Us hereto in exercising any right, power or privilege hereunder shall not operate as a waiver thereof, nor shall any single or partial exercise of any right, power or privilege preclude any other or further exercise thereof or the exercise of any other right, power or privilege.
                p 16.6.    No variation, modification, consensual termination or amendment of this Agreement (including this clause) shall be of any force or effect unless reduced to writing and signed on behalf of Us or its duly authorised representatives. We reserve the right to change any of the terms and conditions contained in these Terms, at any time and in our sole discretion. When We make changes, it will revise the "last updated" date at the bottom of the Terms. Any changes will be effective immediately upon posting on the website. Your continued use of the service following the posting of changes will constitute your acceptance of such changes. We encourage you to review these Terms on a regular basis.
                p 16.7.    The expiration or termination of these Terms shall not affect such provisions as expressly provide that they will operate after any such expiration or termination, or which of necessity must continue to have effect after such expiration or termination, notwithstanding that the clauses themselves do not expressly provide for this.
                p 16.8.    The rule of construction that, in the event of ambiguity, these Terms shall be interpreted against the party responsible for the drafting or preparation thereof, shall not apply.


            .row: .col-xs-12
                h4 17.    ADDITIONAL TERMS
                p 17.1.    CloudSync functionality requires additional SmartSync licences.
                p 17.2.    CQS Cloud Privacy is goverened by our privacy policy, <a href="privacy.html">http://www.casewarecloud.co.za/privacy.html</a>
                p 17.3.    CaseWare Cloud Privacy is goverened by their privacy policy, <a href="http://www.casewarecloud.com/pdf/CaseWare%20Cloud%20Privacy%20Policy.pdf">http://www.casewarecloud.com/pdf/CaseWare Cloud Privacy Policy.pdf</a>
                p 17.4.    Data is hosted on the Amazon Cloud Platform, located in Dublin, Ireland. A security overview is given at Amazon Security and Amazon compliance which can be accessed at <a href="http://aws.amazon.com/security/">http://aws.amazon.com/security/</a>.


            .row: .col-xs-12
                p: em Last update 02 October 2014



