
//---------Headers
.header-1-white {
  font-weight: 100;
  color: @white-text;
}

.header-2-white {
  font-weight: 100;
  color: @white-text;
  padding-bottom: 50px;
}

.header-1 {
    font-weight: 100;
    color: @gray-text;
}

.header-2 {
  font-weight: 100;
  color: @gray-text;
  padding-bottom: 50px;
}
//--------Alignment
.text-center {
    text-align: center;
}

.feature-divide {
  border-right: 1px solid #eee;
  padding: 5px;
}

.feature-divide-trans {
  border-right: 1px solid transparent;
  padding: 5px;
}

//--------Images
.landing-pic {
  margin-bottom: 50px;
}

.section-pic {
  margin-bottom: 30px;
}

