@import "colors.inc.less";

body {
  background-image: url('../images/clouds-1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

//---------Headers
.header-1 {
  font-weight: 300;
}

.header-2 {
  font-weight: 200;
  padding-bottom: 50px;
  position: relative;

  p {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
  }
  strong {
    color: #3759a0;
  }

  &.nopad {
    padding-bottom: 0;
  }
}

.header-1 {
    font-weight: 300;
    color: @gray-text;
}

.header-2 {
  font-weight: 200;
  color: @gray-text;
  padding-bottom: 50px;
}
//--------Alignment
.text-center {
    text-align: center;
}

.feature-divide {
  border-right: 1px solid #777;
  padding: 5px;
  height: 100%;
  .col-xs-4 {
    height: 100%;
  }
}
hr {
  border-top: 1px solid transparent;
  margin: 40px 0;
}

.feature-divide-trans {
  border-right: 1px solid transparent;
  padding: 5px;
}

//--------Images
.landing-pic {
  margin-bottom: 50px;
}

.section-pic {
  margin-bottom: 30px;
}

//--------Buttons
.btn-feature-more {
    background-color: transparent;
    border-color: transparent;
    color: @gray-text
}

//---------Layers
.block-top-layer {
  background:transparent;
  height:700px;
}

.block-middle-layer{
  position:fixed;
  top:0;
  left:0;
  z-index:-9;
  width:100%;
  background:rgba(50,50,50,0.4);
  height:100%;
}
//----------Footer
.list{
  padding: 0px;
  list-style-type: none;

  a {
    color: #666;
  }

}
//----------Pop Over
.popover-feature {
  cursor: pointer;
}

.icon-app {
  color:@cw-blue;
}

.availability {
  font-size: 11px;
  color: #ccc;
  margin-top: -10px;
}

/* vertical alignment styles */
.col-top {
  vertical-align:top;
}
.col-middle {
  vertical-align:middle;
}
.col-bottom {
  vertical-align:bottom;
}

/* columns of same height styles */
.container-xs-height {
  display:table;
  padding-left:0px;
  padding-right:0px;
}
.row-xs-height {
  display:table-row;
}
.col-xs-height {
  display:table-cell;
  float:none;
}
@media (min-width: 768px) {
  .container-sm-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-sm-height {
    display:table-row;
  }
  .col-sm-height {
    display:table-cell;
    float:none;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-md-height {
    display:table-row;
  }
  .col-md-height {
    display:table-cell;
    float:none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-lg-height {
    display:table-row;
  }
  .col-lg-height {
    display:table-cell;
    float:none;
  }
}

.cwblue {
  color:@cw-blue;
}

.row.p-in {
  p {
    padding: 0 20px;
  }
}