@import "colors.inc.less";

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background-color: transparent;
        border-color: transparent;

    }

    .top-nav-collapse {
        background-color: rgba(17,23,40,0.95);
        border-color: rgba(17,23,40,0.95);
        padding: 5px;
    }
}

@media(max-width:767px) {
  .navbar-default {
    background-color: rgba(17,23,40,0.95);

    button.navbar-toggle {
      &:hover {
        color: transparent;
      }
    }
  }
}

.navbar-default {
  .navbar-collapse.in {
    background:  rgba(17,23,40,0.95);
  }
  .navbar-nav>li>a {
    color: @white-text;

    &:hover {
      color: @cw-blue;
    }
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFF;
  background-color: transparent;
  border-bottom: 2px solid @cw-blue;
}

.section-1 {
    padding: 150px 0;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
}

.section-2 {
    padding: 100px 0px;
    text-align: center;
    background: @white-text;
    border-bottom: 1px solid #d3d3d3;

  i, p.lead {
    color: rgba(40, 50, 80, 1);
  }

  .subheader {
    padding-bottom:20px;

    .header-1 {
      color: #999;
    }
  }
}

.section-3 {
  padding: 100px 0;
  text-align: center;
  background: rgba(40, 50, 80, 0.85);
  color: #bbb;

    i, p.lead {
      color: white;
    }
}

.section-next {
  background: @white-text;
  padding: 100px 0;
  text-align: center;

  i, p.lead {
    color:rgba(40, 50, 80, 1);
  }
}

.section-4 {
    padding: 50px 0;
    text-align: center;
    background: @cw-blue;
    border-bottom:1px  solid @cw-blue;
}

.section-5 {
  padding: 80px 0;
  text-align: center;
  background: #333;
  //border-bottom: 1px solid #d3d3d3;
  color: #aaa;
}

.section-pricing {
  padding: 100px 0;
  text-align: center;
  background: rgba(40, 50, 80, 0.85);

  .price-top {
    border: 1px solid #ddd;
    background: @white-text;
  }

  .price-bottom {
    background-color: rgba(40, 50, 80, 1);
    padding:15px;

    &:first-child {
      border-right: 1px solid #aaa;
    }

    &:last-child {
      border-left: 1px solid #aaa;
    }
  }
}

.section-apps {
  padding: 40px 0;
  text-align: center;
  background: @white-text;
  border-bottom: 1px solid #d3d3d3;
  color: @gray-text;
}

.section-story {
  padding: 40px 0;
  text-align: center;
  background: @white-text;
  border-bottom: 1px solid #d3d3d3;
  color: @gray-text;
}

.section-tech {
  padding: 100px 0px;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #d3d3d3;
  color: #333;

  .header-1-white {
    color: #e0e0e0;
  }
}
