body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background-color: transparent;
        border-color: transparent;

    }

    .top-nav-collapse {
        background-color: rgba(50,50,50,0.95);
        border-color: #333;
        padding: 5px;
    }
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.section-1 {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fcfcfc;
    border-bottom: 1px solid #d3d3d3;
}

.section-2 {
    height: 120%;
    padding-top: 120px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
}

.section-3 {
    height: 150%;
    padding-top: 110px;
    text-align: center;
    background: rgba(74, 189, 155, 0.85);
    border-bottom:1px  solid #bbb;
    color: #133A2E;
}

.section-4 {
    height: 60%;
    padding-top: 50px;
    text-align: center;
    background: #ccc;
    border-bottom:1px  solid #ccc;
}

