#inviteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='inviteModalLabel', aria-hidden='true', ng-controller="ctrlInvite")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header.modal-blue
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#inviteModalLabel.modal-title Request an Invite
            .modal-body
                .container-fluid
                    .row
                        .col-xs-12
                            form.form-horizontal(name="f")
                                .row
                                    .col-xs-6
                                        h4.cwblue User Information
                                .row
                                    .col-xs-6
                                        .form-group(ng-class="{ 'has-error': !f.firstname.$valid }")
                                            label.control-label.col-xs-4 First Name
                                            .col-xs-8
                                                input.form-control(type="text", name="firstname", ng-model="firstname", required)
                                                p.example-info E.g. John

                                    .col-xs-6
                                        .form-group(ng-class="{ 'has-error': !f.lastname.$valid }")
                                            label.control-label.col-xs-4 Last Name
                                            .col-xs-8
                                                input.form-control(type="text", name="lastname", ng-model="lastname", required)
                                                p.example-info E.g. Smith

                                .row
                                    .col-xs-6
                                        .form-group(ng-class="{ 'has-error': !f.email.$valid }")
                                            label.control-label.col-xs-4 Email Address
                                            .col-xs-8
                                                input.form-control(type="email", name="email", ng-model="email", required)
                                                p.example-info The email address that you will use to login


                                    .col-xs-6
                                        .form-group(ng-class="{ 'has-error': !f.phone.$valid }")
                                            label.control-label.col-xs-4 Phone Number
                                            .col-xs-8
                                                input.form-control(type="text", name="phone", ng-model="phone", required)
                                                p.example-info Your firm's telephone number

                                .row
                                    .col-xs-6
                                        .form-group(ng-class="{ 'has-error': !f.address.$valid }")
                                            label.control-label.col-xs-4 Address
                                            .col-xs-8
                                                textarea.form-control(type="text", rows="3", name="address", ng-model="address", required)
                                                p.example-info Your firm's physical address

                                    .col-xs-6
                                        .form-group
                                            label.control-label.col-xs-4 Country
                                            .col-xs-8
                                                select.form-control(name="country", ng-model="country")
                                                    option South Africa
                                                p.example-info Select your country


                                .row
                                    .col-xs-6
                                        h4.cwblue Firm Information
                                .row
                                    .col-xs-6
                                        .form-group(ng-class="{ 'has-error': !f.firmname.$valid }")
                                            label.control-label.col-xs-4 Firm Name
                                            .col-xs-8
                                                input.form-control(type="text", name="firmname", ng-model="firmname", required)
                                                p.example-info Your firm's full name


                                    .col-xs-6
                                        .form-group(ng-class="{ 'has-error': !f.shortname.$valid }")
                                            label.control-label.col-xs-4 Short Name
                                            .col-xs-8
                                                input.form-control(type="text", name="shortname", ng-model="shortname", required)
                                                p.example-info Your firm's short name.
                                .row
                                    .col-xs-6
                                        .form-group
                                            label.control-label.col-xs-4 Employees
                                            .col-xs-8
                                                select.form-control(name="employees", ng-model="employees")
                                                    option Sole proprietor
                                                    option 2-5 employees
                                                    option 6-10 employees
                                                    option 11-25 employees
                                                    option 26-50 employees
                                                    option 51-500 employees
                                                    option 500+ employees
                                                p.example-info Number of employees

                                    .col-xs-6
                                        .form-group
                                            label.control-label.col-xs-4 CaseWare Time?
                                            .col-xs-8
                                                select.form-control(name="time", ng-model="time")
                                                    option Yes
                                                    option No
                                                p.example-info Are you running the Time desktop version?



            .modal-footer
                .pull-left
                    input(type="checkbox", ng-model="tandc")
                    |&nbsp;&nbsp;By Clicking <b>Submit Request</b>, I agree to the <a href="terms.html", target="_blank">Terms & Conditions</a>

                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button', ng-disabled="true || !tandc || !f.$valid") Submit Request