#calcModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='calcModalLabel', aria-hidden='true', ng-controller="ctrlCalculator")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#calcModalLabel.modal-title CaseWare Cloud Calculator
            .modal-body
                .container-fluid
                    .row
                        .col-xs-12
                            p.text-center Use the below tool to calculate pricing based on the size of your firm (Note: this is an estimate, contact CQS for an exact quote):
                    .row(style="margin-top:60px;")
                        .col-xs-6
                            form.form-horizontal
                                .row
                                    .col-xs-12
                                        .form-group
                                            label.control-label.col-xs-8 Number of users
                                            .col-xs-4
                                                input.form-control(type="number", ng-model="calc.users", min=1, max=20000)

                                .row
                                    .col-xs-12
                                        .form-group
                                            label.control-label.col-xs-8 Number of Engagement files (optional)
                                            .col-xs-4
                                                input.form-control(type="number", ng-model="calc.files", min=0, max=100000)

                        .col-xs-6.modal-cost
                            .row: .col-xs-12: h3 {{[ "Single User Plan", "Office Plan" ][total.plan]}}
                            .row: .col-xs-12
                                table.table.table-condensed
                                    thead
                                        tr
                                            th &nbsp;
                                            th.text-right: strong Users
                                            th.text-right: strong Storage
                                            th.text-right: strong Cost
                                    tbody
                                        tr
                                            td: strong Included
                                            td.text-right {{total.users.inc}}
                                            td.text-right {{total.store.inc}}GB
                                            td.text-right R{{total.cost.plan | number:2}}
                                        tr(ng-show="total.users.add")
                                            td: strong Additional
                                            td.text-right {{total.users.add}}
                                            td.text-right {{total.store.add}}GB
                                            td.text-right R{{total.cost.add | number:2}}
                                        tr.active
                                            td: strong Annual Total
                                            td.text-right: strong {{total.users.add + total.users.inc}}
                                            td.text-right: strong {{total.store.inc + total.store.add}}GB
                                            td.text-right: strong R{{total.year | number:2}}

                            .row(ng-show="total.store.extra"): .col-xs-12
                                .alert.alert-info {{total.store.extra*5}}GB additional storage (estimated), R{{total.month | number:2}} monthly


            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close