#infoFilesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='infoFilesModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#infoFilesModalLabel.modal-title File Storage
            .modal-body
                .container-fluid
                    .row
                        .col-xs-6
                            h4.cwblue Files App

                    .row
                        .col-xs-8
                            p The Files app is a secure document repository for managing, storing and accessing your files securely. Files can include content such as:
                            ul
                                li External documents such as Microsoft Word, Excel, Powerpoint, and PDF documents.
                                li Online documents such as SkyDrive and Google Drive documents, spreadsheets, and presentations.
                                li Dashboards and URL links.
                                li Checklists and Invoices.
                                li Working Papers SmartSync files*.

                        .col-xs-4
                            img(src="images/cloud-sync.png", style="width: 300px; margin-top: 40px; margin-left: -60px;")

                    .row
                        .col-xs-6
                            h4.cwblue SmartSync*
                    .row
                        .col-xs-12
                            p SmartSync is a file synchronization system that can support several people working together on a Working Papers client file simultaneously. SmartSync enables a team to work independently on the entire client file while providing each online member with instant updates on work completed by other members.
                            p Some of the advantages of using SmartSync for file synchronization are:
                            ul
                                li Only changes you make to the file are synchronized to other staff. This results in less bandwidth usage.
                                li Changes can be shared in real time, automatically.
                                li You can work offline. This lessens the dependence on bandwidth and enables you to work on a copy in the field where you may not have access to your network. The file information is shared the next time you are connected to the network.
                                li Synchronize out in the field between engagement staff.

            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close