#infoFilesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='infoFilesModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header.modal-blue
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#infoFilesModalLabel.modal-title File Storage
            .modal-body
                .container-fluid

            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close