#calcModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='calcModalLabel', aria-hidden='true', ng-controller="ctrlCalculator")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#calcModalLabel.modal-title CaseWare Cloud Calculator
            .modal-body
                .row
                    .col-xs-12
                        p.text-center Use the below tool to calculate estimate pricing based on the size of your firm (Please contact CQS for an exact quote):
                .row(style="margin-top:60px;")
                    .col-xs-6
                        form.form-horizontal
                            .row
                                .col-xs-12
                                    .form-group
                                        label.control-label.col-xs-8 Number of users
                                        .col-xs-4
                                            input.form-control(type="number", ng-model="calc.users", min=1, max=20000)

                            .row
                                .col-xs-12
                                    .form-group
                                        label.control-label.col-xs-8 Number of Engagement files (optional)
                                        .col-xs-4
                                            input.form-control(type="number", ng-model="calc.files", min=0, max=100000)

                    .col-xs-6.modal-cost
                        .well
                            .row: .col-xs-12: h3 {{[ "Single User Plan", "Office Plan" ][total.plan]}}
                            .row: .col-xs-12 {{total.users.inc}} users included with {{total.store.inc}}GB storage
                            .row: .col-xs-12(ng-show="total.users.add") {{total.users.add}} additional users with {{total.store.add}}GB storage
                            .row: .col-xs-12(ng-show="total.users.add") {{total.users.add + total.users.inc}} total users with {{total.store.inc + total.store.add}}GB storage

                            .row(ng-show="total.store.extra"): .col-xs-12 {{total.store.extra*5}}GB additional storage

                            .row: .col-xs-12: h4 R{{total.year | number:2}} annual fee
                            .row(ng-show="total.store.extra"): .col-xs-12: h4 R{{total.month | number:2}} monthly fee


            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close