#calcModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='calcModalLabel', aria-hidden='true', ng-controller="ctrlCalculator")
    .modal-dialog.modal-lg
        .modal-content
            .modal-header.modal-blue
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                h4#calcModalLabel.modal-title CaseWare Cloud Calculator
            .modal-body
                .container-fluid
                    .row

                        .col-xs-6
                            form.form-horizontal
                                .form-group
                                    label.control-label.col-xs-8 Number of users
                                    .col-xs-4
                                        input.form-control(type="number", ng-model="calc.users", min=1, max=20000)

                                .form-group
                                    label.control-label.col-xs-8 Number of Engagements
                                    .col-xs-4
                                        input.form-control(type="number", ng-model="calc.files", min=0, max=100000)

                        .col-xs-6.text-left
                            p Use this tool to calculate estimate pricing based on the size of your firm (Please contact CQS for an exact quote).
                            p User numbers should match the number of CaseWare Working Papers licences in your firm.


                    .well(style="margin-top:40px;")
                        .row
                            .col-xs-6
                                h3(style="margin-top:0") {{[ "Single User Plan", "Office Plan" ][total.plan]}}
                                div(ng-hide="total.plan")
                                    ul
                                        li 1 Individual user login
                                        li 5GB Storage
                                        li Entity, staff and contact management
                                        li Working Papers Integration (requires SmartSync licence)
                                        li CaseWare Time Integration (requires Time Desktop)
                                        li Unlimited portal access for your clients
                                        li Daily Backups
                                div(ng-show="total.plan")
                                    ul
                                        li 5 Individual user logins
                                        li 25GB Storage
                                        li Entity, staff and contact management
                                        li Working Papers Integration (requires SmartSync licence)
                                        li CaseWare Time Integration (requires Time Desktop)
                                        li Unlimited portal access for your clients
                                        li Daily Backups

                            .col-xs-6.modal-cost
                                table.table.table-condensed
                                    thead
                                        tr
                                            th &nbsp;
                                            th.text-right: strong Users
                                            th.text-right: strong Storage
                                            th.text-right: strong Cost
                                    tbody
                                        tr
                                            td: strong Included
                                            td.text-right {{total.users.inc}}
                                            td.text-right {{total.store.inc}}GB
                                            td.text-right {{currency}}{{total.cost.plan | number:2}}
                                        tr(ng-show="total.users.add")
                                            td: strong Additional
                                            td.text-right {{total.users.add}}
                                            td.text-right {{total.store.add}}GB
                                            td.text-right {{currency}}{{total.cost.add | number:2}}
                                        tr.info
                                            td: strong Annual Total
                                            td.text-right: strong {{total.users.add + total.users.inc}}
                                            td.text-right: strong {{total.store.inc + total.store.add}}GB
                                            td.text-right: strong {{currency}}{{total.year | number:2}}

                                .alert.alert-info
                                    p: strong Based on the number of engagements:
                                    p You require {{total.store.total | number:0}}GB (estimated), {{(total.store.inc + total.store.add) | number:0}}GB included
                                    p(ng-show="total.store.extra") You need {{(total.store.extra*5) | number:0}}GB additional (estimated), {{currency}}{{total.month | number:2}} pm

                    .row
                        .col-xs-12
                            .alert.alert-warning Additional SmartSync licences (required for CloudSync and full Files integration) are not reflected on this calculator.

            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close