.nav.navbar.navbar-default.navbar-fixed-top(dir-nav-collapse, role='navigation')

    .container

        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            //a.navbar-brand(href='#page-top')
                img(src="images/cqs-logo.png" style="width:50%")

        .collapse.navbar-collapse.navbar-ex1-collapse.navbar-scroll
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href='#page-top', dir-scroll-to='page-top')
                li.page-scroll
                    a(href='#about', dir-scroll-to='about') About
                li.page-scroll
                    a(href='#features', dir-scroll-to='features') Features
                li.page-scroll
                    a(href='#tech', dir-scroll-to='tech') Technical
                li.page-scroll
                    a(href='#pricing', dir-scroll-to='pricing') Pricing
                li.page-scroll
                    a(href='#request', dir-scroll-to='request') Request Invite
                li
                    a(href="terms.html", target="_blank") T&C's
