.row.padded
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-database.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 Where will my engagement data be stored?
        p Your data will be stored in state-of-the-art data centers operated by Amazon Web Services in Dublin, Ireland. The data center has 3 independent availability zones and has been in operation since 2007. <a href="http://aws.amazon.com/about-aws/global-infrastructure/#Europe_/_Middle_East_/_Africa" target="_blank">More info...</a>

.row.padded
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-check-square.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 What type of controls are in place to protect my data?
        p Amazon provides physical security and logical security controls at the infrastructure layer. The platform is covered by a SSAE 16 report (done by Ernst and Young) and is PCI Level 1 certified, ISO 27001 certified, and compliant with all major security control frameworks. More info on <a href="http://aws.amazon.com/security/" target="_blank">AWS Security</a> and <a href="http://aws.amazon.com/compliance/" target="_blank">AWS Compliance</a>

.row
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-key.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 What kind of encryption is used?
        p Data that is transferred to and from CaseWare Cloud is 100% encrypted at the same strength used in online banking. TLS encryption with 2048-bit SHA-1/RSA keys are used for all data transfers.
