section#page-top.section-1(style="background:transparent;height:700px")
    div(style="background:rgba(50,50,50,0.6);padding:100px 0;")
        .container
            .row
                .col-sm-8.col-xs-8
                    h1.header-1-white CQS Cloud | Everything Practice
                    br
                    h4.header-2-white It's time to start running your practice more effeciently, using the latest technolgy to better meet your client's needs.
                .col-sm-4.col-xs-4
                    .page-scroll(style="margin-top:70px;")
                        a.btn.btn-lg.btn-primary(href='#about')
                            i.fa.fa-chevron-circle-down &nbsp;
                            |Click here to learn more

