section#pricing.section-trans.section-pricing
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Plans & Pricing
                br
                h4.header-2 How much does CaseWare Cloud cost?
        br

    .container.container-sm-height
        .row.row-sm-height
            .col-sm-4.col-sm-offset-2.col-xs-12.col-sm-height.price-top
                h2.header-1 Single User Plan
                h1.header-1 R110
                h3.header-1 per month - billed annually
                h4.header-1 (R1320 per year)

            .col-sm-4.col-xs-12.col-sm-height.price-top
                h2.header-1 Office Plan
                h1.header-1 R275
                h3.header-1 per month - billed annually
                h4.header-1 (R3300 per year)

        .row.row-sm-height
            .col-sm-4.col-sm-offset-2.col-xs-12.hidden-xs.col-sm-height.header-1.price-bottom
                h5 Standard features included:
                ul.list
                    li 1 Individual user login
                    li 5GB Storage**
                    li Entity, staff and contact management
                    li Working Papers Integration (requires SmartSync licence)
                    li CaseWare Time Integration (requires Time Desktop)
                    li Unlimited portal access for your clients
                    li Daily Backups

            .col-sm-4.col-xs-12.col-sm-height.header-1.price-bottom
                h5 Standard features included:
                ul.list
                    li 5 Individual user logins
                    li 25GB Storage**
                    li Entity, staff and contact management
                    li Working Papers Integration (requires SmartSync licence)
                    li CaseWare Time Integration (requires Time Desktop)
                    li Unlimited portal access for your clients
                    li Daily Backups
                h6 Additional users: R660 per annum (incl. additional 5GB storage)
    .container
        br
        .row
            .col-sm-12.col-xs-12.text-center
                p.header-1 ** Additional storage: R55 per 5GB (or part thereof) billed monthly
        .row
            .col-sm-12.col-xs-12.text-center
                a.btn.btn-lg.btn-default(data-toggle="modal", data-target="#calcModal") Calculate my cost

