section#features.section-3
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1-white Activate additional apps to enhance and maximize your practice solution.
                br
                h4.header-2-white One Cloud. Unlimited Possibilities.

        .row
            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-clock-o.fa-4x
                p.lead Time & Expenses
            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-pencil.fa-4x
                p.lead Engagement Management
            .col-sm-4.col-xs-12.text-center.feature-divide-trans
                i.fa.fa-folder-open.fa-4x
                p.lead Online File Storage
        .row.p-in.hidden-xs
            .col-sm-4.col-xs-12.text-center
                p With <b>Time on the Go</b>, you can easily capture time and expenses wherever you are. Manage your WIP and bill your clients all from one place.
            .col-sm-4.col-xs-12.text-center
                p Manage every engagement with CaseWare's <b>Q</b> app. Use <b>Review on the Go</b> to review working papers from anywhere.
            .col-sm-4.col-xs-12.text-center
                p <b>SmartSync</b> lets staff work on local Working Papers engagement files with all their changes seamlessly syncing to the master cloud copy.

section#next.section-next
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 What to expect next on CaseWare Cloud.
                br
                h4.header-2 More apps coming soon...

        .row
            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-usd.fa-4x
                p.lead Tax Management

            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-tachometer.fa-4x
                p.lead Q - Bits

            .col-sm-4.col-xs-12.text-center.feature-divide-trans
                i.fa.fa-clipboard.fa-4x
                p.lead Statutory Management

        .row.p-in.hidden-xs
            .col-sm-4.col-xs-12.text-center
                p <b>TaxWare</b> on the cloud takes care of all of the administrative tasks associated with tax compliance for corporates, trusts and individuals.

            .col-sm-4.col-xs-12.text-center
                p <b>CaseWare Q – Bits</b> provides auditors and business stakeholders with an easy to use CAATTs (computer-assisted audit tools & techniques) solution, that facilitates data sampling, extraction and analysis for auditing purposes.
            .col-sm-4.col-xs-12.text-center
                p With <b>SecWare</b>, take care of compliance including all new forms (MOI and CoR) and terminology as required by the new Companies Act.

        //hr
        //.row
            .col-sm-12.col-xs-12
                a.btn.btn-primary.btn-feature-more.pull-right(href="#")
                    i.fa.fa-plus &nbsp;
                    |View the full feature list here