section#footer.section-5.hidden-xs
    .container
        .row
            .col-xs-8
                h4
                    |Supported and distributed by&nbsp;
                    img.cqs(src="images/cqs-logo.gif")
                    img.cwa(src="images/cwa-logo-37.png")

            .col-xs-4
                div 17 Kent Road Dunkeld West Johannesburg
                div Tel: +27 11 507 0000 Fax: +27 11 507 0001
                div PO BOX 598 Parklands 2121 South Africa

                div.cqs: a(href="http://www.cqs.co.za" target="_blank") http://www.cqs.co.za
                div.cwa: a(href="http://www.casewareafrica.com" target="_blank") http://www.casewareafrica.com

                br
                div: a(href="terms.html", target="_blank") Terms & Conditions
                div: a(href="privacy.html", target="_blank") Privacy Policy

