section#about.section-2
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 What is Cloud?
                br
                h4.header-2 Using the power of CaseWare, CQS now offers you a complete online solution to suit your practice's needs

            .col-sm-4.col-xs-4
                h2.header-2 CaseWare Cloud Platform
                p Combining social networking, client portal, document management, engagement tracking and dashboard mining, CaseWare Cloud is a secure web-based collaboration environment for accountants and auditors.
                br
                a.btn.btn-primary(href='http://www.casewarecloud.com')
                    i.fa.fa-arrow-circle-right &nbsp;
                    |learn more
            .col-sm-8.col-xs-8
                //img.section-pic(src="images/cwcloud-logo.png")

        .row
            .col-sm-8.col-xs-8
                //img.section-pic(src="#")
            .col-sm-4.col-xs-4
                h2.header-2 CaseWare Apps
                p Review on the Go and Time on the Go are only some of the apps available on cloud.
                br
                a.btn.btn-primary(href='http://www.casewarecloud.com')
                    i.fa.fa-arrow-circle-right &nbsp;
                    |learn more