section#about.section-2
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 A single cloud platform with unbelievable out of the "box" functionality.
        .row
            .col-sm-10.col-sm-offset-1.col-xs-12.text-center
                h4.header-2 CaseWare Cloud is a secure web-based collaboration platform that greatly improves the way you run your practice. With hassle-free updates, any-device access and new ways of tracking your engagements, CaseWare Cloud elevates your collaboration efforts to a whole new sphere.

        //.row
            .col-sm-12.col-xs-12.text-center.hidden-xs
                img(src="images/cwcloud-logo.png")

        .row
            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-cogs.fa-4x
                p.lead Client Portal
            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-group.fa-4x
                p.lead Online CRM
            .col-sm-4.col-xs-12.text-center.feature-divide-trans
                i.fa.fa-lock.fa-4x
                p.lead Permission Management

        .row.p-in.hidden-xs
            .col-sm-4.col-xs-12.text-center
                p Gone are the days of email. Clients and stakeholders can now also interact through the same tools, collaborating with you in real-time.
            .col-sm-4.col-xs-12.text-center
                p All your contacts, clients and staff in one convenient location making this the go-to destination for anything engagement related.
            .col-sm-4.col-xs-12.text-center
                p You now have fine-grained control over file access permissions among staff. These permissions can also be extended to include your clients.
