section#features.section-3
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 A simple, easy-to-use solution that helps you manage your practice the smart way.
                br
                h4.header-2 One Cloud. Unlimited Possibilities.
        .row
            .col-sm-4.col-xs-4.text-center.feature-divide
                i.fa.fa-cogs.fa-4x
                p.lead Client Portal
                p Gone are the days of email. Clients and stakeholders can now also interact through the same tools, collaborating with you in real-time.
            .col-sm-4.col-xs-4.text-center.feature-divide
                i.fa.fa-pencil.fa-4x
                p.lead Engagement Management
                p Manage every engagement with CaseWare's <b>Q</b> app. Use <b>Review on the Go</b> to review working papers from anywhere.
            .col-sm-4.col-xs-4.text-center.feature-divide-trans
                i.fa.fa-group.fa-4x
                p.lead Online CRM
                p All your contacts, clients and staff in one convenient location making this the go-to destination for anything engagement related.

        br
        br
        hr
        br
        br
        .row
            .col-sm-4.col-xs-4.col-xs-offset-2.text-center.feature-divide
                i.fa.fa-clock-o.fa-4x
                p.lead Time & Expenses
                p With <b>Time on the Go</b>, you can easily capture time and expenses wherever you are. Manage your WIP and bill your clients all from one place.
            .col-sm-4.col-xs-4.text-center.feature-divide-trans
                i.fa.fa-folder-open.fa-4x
                p.lead Online File Storage
                p <b>SmartSync</b> lets staff work on local Working Papers engagement files with all their changes seamlessly syncing to the master cloud copy.
        br
        br
        hr
        br
        br
        .row
            .col-xs-12
                p.lead More Apps Coming Soon...
        br
        .row
            .col-sm-4.col-xs-4.text-center.feature-divide
                i.fa.fa-usd.fa-4x
                p.lead Tax Management
                p <b>TaxWare</b> takes care of all of the administrative tasks associated with tax compliance for corporates, trusts and individuals.

            .col-sm-4.col-xs-4.text-center.feature-divide
                i.fa.fa-tachometer.fa-4x
                p.lead Q - Bits
                p The <b>CaseWare Q - Bits</b> solutions allows internal audit and business stakeholders to independently monitor controls across multiple businesses and systems.
            .col-sm-4.col-xs-4.text-center.feature-divide-trans
                i.fa.fa-clipboard.fa-4x
                p.lead Statutory Management
                p With <b>SecWare</b>, take care of compliance including all new forms (MOI and CoR) and terminology as required by the new Companies Act.
        br
        br
        //.row
            .col-sm-12.col-xs-12
                a.btn.btn-primary.btn-feature-more.pull-right(href="#")
                    i.fa.fa-plus &nbsp;
                    |View the full feature list here