section#pricing.section-pricing
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Plans & Pricing
                br
                h4.header-2 How much does CaseWare Cloud cost?
        br

    .container.container-sm-height
        .row.row-sm-height
            .col-sm-4.col-sm-offset-2.col-xs-12.col-sm-height.price-top
                h2.header-1 Single User Plan
                h1 R100
                h3.header-1 per month - billed annually
                h4.header-1 (R1200 per year)

            .col-sm-4.col-xs-12.col-sm-height.price-top
                h2.header-1 Office Plan
                h1 R250
                h3.header-1 per month - billed annually
                h4.header-1 (R3000 per year)

        .row.row-sm-height
            .col-sm-4.col-sm-offset-2.col-xs-12.hidden-xs.col-sm-height.header-1-white.price-bottom
                h5 Standard features included:
                ul.list
                    li 1 Individual user login
                    li 5GB Storage**
                    li Entity, staff and contact management
                    li Working Papers Integration (requires SmartSync licence)
                    li CaseWare Time Integration (requires Time Desktop)
                    li Unlimited portal access for your clients
                    li Daily Backups

            .col-sm-4.col-xs-12.col-sm-height.header-1-white.price-bottom
                h5 Standard features included:
                ul.list
                    li 5 Individual user logins
                    li 25GB Storage**
                    li Entity, staff and contact management
                    li Working Papers Integration (requires SmartSync licence)
                    li CaseWare Time Integration (requires Time Desktop)
                    li Unlimited portal access for your clients
                    li Daily Backups
                h6 Additional users: R50 per month (incl. additional 5GB storage)
    .container
        br
        .row
            .col-sm-12.col-xs-12.text-center
                p ** Additional storage: R50 per 5GB billed monthly
