.row
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-file.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 How much storage do I need?
        p All CaseWare Engagement files are stored compressed via CloudSync. CaseWare Files compress up to 60% of their original size and therefore require less storage. A standard CaseWare engagement file, when compressed, requires less than 50MB of storage.

.row
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-wifi.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 How much bandwidth do I need?
        p Engagement files are transferred in compressed format. With the power of CloudSync technology, engagement files are only downloaded once to your local PC (or fully uploaded once to the Cloud) and thereafter only the changes made are synced between the Cloud and the local machine. This minimises bandwidth whilst always ensuring your files are up-to-date.

.row
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-database.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 How are backups handled?
        p Full backups of every client system are run daily during non-core hours. These backups are kept for 80 days, with no additional storage costs. CaseWare Cloud strictly adheres to their <a href="http://www.casewarecloud.com/pdf/CaseWare%20Cloud%20Privacy%20Policy.pdf" target="_blank">Privacy Policy</a> to protect all data and backups.
