section#features.section-gray
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Activate additional apps to enhance and maximize your practice solution.
                br
                h4.header-2 One Cloud. Unlimited Possibilities.

        .row
            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-clock-o.fa-4x
                p.lead Time & Billing
            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-edit.fa-4x
                p.lead Review On The Go
            .col-sm-4.col-xs-12.text-center.feature-divide-trans
                i.fa.fa-dashboard.fa-4x
                p.lead CaseWare Q
        .row.p-in.hidden-xs
            .col-sm-4.col-xs-12.text-center
                p With <b>Time on the Go</b>, you can easily capture time and expenses wherever you are. Manage your WIP and bill your clients all from one place, on any device. Integrates seamlessly with <b>CaseWare Time 2013</b>, allowing one shared database.
            .col-sm-4.col-xs-12.text-center
                p With <b>Review on the Go</b>, you can access client documents and issues, and complete role sign offs from any Internet-enabled browser on any supported mobile or tablet device. Synchronise using <b>CloudSync</b>, review with <b>Review on the Go</b>.
            .col-sm-4.col-xs-12.text-center
                p With <b>Q</b> and Cloud, CaseWare presents a better way to manage your engagement files. <b>Q</b> on your <b>Working Papers</b> file allows you to gather key data for engagements for the firm to monitor various metrics across the firm’s entire client base.

section#next.section-white
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 What to expect next on CaseWare Cloud.
                br
                h4.header-2 More apps coming soon...

        .row
            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-usd.fa-4x
                p.lead Tax Management

            .col-sm-4.col-xs-12.text-center.feature-divide
                i.fa.fa-tachometer.fa-4x
                p.lead Q - Bits

            .col-sm-4.col-xs-12.text-center.feature-divide-trans
                i.fa.fa-clipboard.fa-4x
                p.lead Statutory Management

        .row.p-in.hidden-xs
            .col-sm-4.col-xs-12.text-center
                p <b>TaxWare</b> on the cloud takes care of all of the administrative tasks associated with tax compliance for corporates, trusts and individuals.

            .col-sm-4.col-xs-12.text-center
                p <b>CaseWare Q – Bits</b> provides auditors and business stakeholders with an easy to use CAATTs (computer-assisted audit tools & techniques) solution, that facilitates data sampling, extraction and analysis for auditing purposes.
            .col-sm-4.col-xs-12.text-center
                p With <b>SecWare</b>, take care of compliance including all new forms (MOI and CoR) and terminology as required by the new Companies Act.
