section#faq.section-blue
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Frequently Asked Questions
                br
                h4.header-2 All you need to know about security, backups, pricing etc.


        .row
            .col-sm-4.col-xs-12.text-left
                ul.nav.nav-pills.nav-stacked(role="tablist")
                    li.active: a(href="#faq_security" role="tab" data-toggle="tab") Security & Privacy
                    li: a(href="#faq_support" role="tab" data-toggle="tab") Support
                    li: a(href="#faq_storage" role="tab" data-toggle="tab") Storage & Pricing

            .col-sm-8.col-xs-12
                .tab-content.text-left

                    .tab-pane.active(id="faq_security")
                        include section-faq-security

                    .tab-pane(id="faq_support")
                        include section-faq-support

                    .tab-pane(id="faq_storage")
                        include section-faq-storage


