section#story.section-story
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 What some of our clients have to say
                br
                h4.header-2

        .row
            .col-sm-9.col-xs-12
                blockquote.blockquote-reverse
                    p "After running a short trial using CaseWare Cloud and SmartSync, I have staff members telling me they can't go back to the old way."
                    footer John Smith, CQS Audit Software

            .col-sm-3.hidden-xs
                img(src="images/cqs-logo.gif")
                p
                p SmartSync + Files + Time on the Go
        br
        .row
            .col-sm-9.col-xs-12
                blockquote.blockquote-reverse
                    p "I no longer have to wory about server maintenance.. or a server at all!"
                    footer Peter Jones, Green Company

            .col-sm-3.hidden-xs
                h3(style="color: green;") Green Company
                p
                p SecWare + Files + Time on the Go
