.row
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-briefcase.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 What plans are available?
        p CaseWare Cloud is available in a 'Single User Plan' and an 'Office Plan'. The Office plan allows access for up to 5 users and 25GB of storage for the firm. Additional users can also be added. For each user added, an additional 5GB of storage is allocated to the firm.

.row
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-users.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 How many users must I add?
        p CaseWare Cloud users must be equal to the number of CaseWare Working Paper licences for your firm.