include nav
include section-static
include section-intro
include section-desc
include section-apps
include section-faq
include section-pricing
include section-invite
//include section-story
include section-footer