section#about.section-white
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 A single cloud platform with unbelievable out of the "box" functionality.
        br
        .row
            .col-sm-10.col-sm-offset-1.col-xs-12.text-center
                h4.header-2 CaseWare Cloud is a secure web-based collaboration platform that greatly improves the way you run your practice. With hassle-free updates, any-device access and new ways of tracking your engagements, CaseWare Cloud elevates your collaboration efforts to a whole new sphere.

        .row
            .col-sm-4.col-xs-6.text-center
                .feature-divide
                    i.fa.fa-folder-open.fa-4x
                    p.lead File Storage
                p.hidden-xs.padded Seamlessly sync your <b>WorkingPapers</b> files to the cloud using <b>CloudSync</b>. Clients and stakeholders can now also interact through the same tools, collaborating with you in real-time on a single source.

            .col-sm-4.col-xs-6.text-center
                .feature-divide
                    i.fa.fa-group.fa-4x
                    p.lead Online CRM
                p.hidden-xs.padded All your entities, contacts, clients and staff in one convenient location making this the go-to destination for anything related to your practice.

            .col-sm-4.col-xs-6.text-center
                .feature-divide-trans
                    i.fa.fa-lock.fa-4x
                    p.lead Permissions
                p.hidden-xs.padded You now have fine-grained control over file access permissions among staff. These permissions can also be extended to include your clients which could allow for sharing of informtaion outside your practice.

            .col-sm-4.col-xs-6.text-center
                .feature-divide
                    i.fa.fa-check-square-o.fa-4x
                    p.lead Checklists
                p.hidden-xs.padded <b>Checklists</b> provide auditors with the ability to access a customized web based solution when they are filling out checklists. This can enable on-site audits where checklist responses are captured directly into the cloud.

            .col-sm-4.col-xs-6.text-center
                .feature-divide
                    i.fa.fa-tasks.fa-4x
                    p.lead Activities
                p.hidden-xs.padded The ground-breaking <b>Activity Pulse</b> provides a beat-by-beat account of engagement-related happenings at the touch of a button! What's better, it's all web-based, making it more convenient than ever for partners to keep an eye on business.

            .col-sm-4.col-xs-6.text-center
                .feature-divide-trans
                    i.fa.fa-comments.fa-4x
                    p.lead Chat
                p.hidden-xs.padded <b>Chat</b> is a new app that enables your staff to exchange text conversations over Cloud in real time. Communication between  staff is done while working in the cloud, all in the same browser window.
