section#footer.section-5.hidden-xs
    .container
        .row
            .col-sm-3
                h5 NAVIGATION
                ul.list
                    li: a(href="#page-top") Home
                    li: a(href="#about") About
                    li: a(href="#features") Features
                    li: a(href="#request") Request an Invite
            .col-sm-3
                h5 FEATURES
                ul.list
                    li: a(href="#apps") Time on the Go
                    li: a(href="#apps") Review on the Go
                    li: a(href="#apps") Analytics
                    li: a(href="#apps") SmartSync
                    li: a(href="#apps") Engagement Management
                    li: a(href="apps") Files
            .col-sm-3
                h5 RESOURCES
                ul.list
                    li: a(href="#pricing") Pricing
                    li: a(href="#page-top") What's New
                    li: a(href="#page-top") Knowledge Base
            .col-sm-3
                h5 SUPPORT
                ul.list
                    li: a(href="#page-top") Online Help
                    li: a(href="#page-top") Contact Us

        br
        .row
            .col-sm-12
                p &copy; 2013-2014 CQS Cloud
                a(href="mailto:support@cqscloud.com", tabindex="-1") support@cqscloud.com