section#pricing.section-pricing
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Plans & Pricing
                br
                h4.header-2 How much does CaseWare Cloud cost?
        br

    .container.container-sm-height
        .row.row-sm-height
            .col-sm-4.col-sm-offset-2.col-xs-12.col-sm-height(style="border: 1px solid #ddd;")
                h3.header-1 Single Plan
                h1 R100
                h4.header-1 single user per month**
                h5.header-1 or R1200 per user per year (Billed Annually)

            .col-sm-4.col-xs-12.col-sm-height(style="border: 1px solid #ddd;")
                h3.header-1 Office Plan
                h1 R50
                h4.header-1 per user per month**
                h5.header-1 or R600 per user per year (Billed Annually)

        .row.row-sm-height
            .col-sm-4.col-sm-offset-2.col-xs-12.hidden-xs.col-sm-height.header-1-white(style="background-color: rgba(55, 89, 160,1); border-right: 1px solid #aaa;")
                h5 Standard features included:
                ul.list
                    li Individual user login
                    li 1GB Storage
                    li Entity, staff and contact management
                    li Working Papers Integration (requires SmartSync)
                    li Unlimited portal access for your clients
                    li Daily Backups
                h6 Upgrade to  paid plan when 1GB limit is reached

            .col-sm-4.col-xs-12.col-sm-height.header-1-white(style="background-color: rgba(55, 89, 160,1); border-left: 1px solid #aaa;")
                h5 Standard features included:
                ul.list
                    li Individual user login
                    li 5GB Storage per user/month
                    li Entity, staff and contact management
                    li Working Papers Integration (requires SmartSync)
                    li Unlimited portal access for your clients
                    li Daily Backups
                h6 Additional Storage: $5 for 5GB per month
    .container
        br
        .row
            .col-sm-12.col-xs-12.text-center
                p **Individual Apps sold separately. Contact your account manager today for a quote.