section#page-top.section-1.block-top-layer
    div(style="padding:100px 0;")
        .container
            .row
                .col-sm-12.col-xs-12.text-center
                    img(src="images/cwcloud-logo.png", style="margin:-100px 0 50px 0")
                    //h1.header-1-white Introducing CaseWare Cloud
                    br
            .row
                .col-sm-12.col-xs-12.text-center
                    h2.header-2-white.nopad CaseWare Cloud allows you to
                    //h4.header-2-white It's time to start running your practice more efficiently, using the latest technolgy to better meet your client's needs.
                    h2.header-2-white(dir-scroller='[ "Collaborate **effectively** in your practice", "Manage your **engagements** more effectively", "Increase your **productivity**", "**Interact** with your clients" ]')
                //.col-sm-4.col-xs-12
                    .page-scroll(style="margin-top:70px;")
                        a.btn.btn-lg.btn-primary(href='#about', dir-scroll-to='about')
                            i.fa.fa-chevron-circle-down &nbsp;
                            |Click here to learn more

