section#about.section-2
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 What is cloud?
                br
                h4.header-2 Using the power of CaseWare, CQS now offers you a complete online solution to suit your practice's needs

        .row
            .col-sm-12.col-xs-12.text-center.hidden-xs
                img.section-pic(src="images/cwcloud-logo.png")

        .row
            .col-sm-5.col-xs-5.col-xs-offset-1
                h2.header-2 CaseWare Cloud Platform
                p Combining social networking, client portal, document management, engagement tracking and dashboard mining, CaseWare Cloud is a secure web-based collaboration environment for accountants and auditors.
                br
                a.btn.btn-success(href='http://www.casewarecloud.com' target="_blank")
                    i.fa.fa-arrow-circle-right &nbsp;
                    |learn more

            .col-sm-5.col-xs-5
                h2.header-2 CQS & CaseWare Apps
                p Review on the Go & Time on the Go are only some of the new apps available from CaseWare. CQS is also proud to announce that TaxWare and Secware are  now available on the cloud. Click below to find out more.

                br
                a.btn.btn-success(href='http://www.cqs.co.za' target="_blank")
                    i.fa.fa-arrow-circle-right &nbsp;
                    |learn more
