section#pricing.section-pricing
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Plans & Pricing
                br
                h4.header-2 How much does it cost?
        br
        .row
            .col-sm-4.col-sm-offset-2.col-xs-12
                div(style="border: 1px solid #ddd;")
                    h3.header-1 Trial Plan
                    h1 Free
                    h4.header-2 First 1GB storage free
                div.header-1-white(style="background-color: rgba(55, 89, 160,1); padding: 5px;")
                    h5 Standard features included:
                    ul.list
                        li Individual user login
                        li 1GB Storage
                        li Store all your client info
                        li Unlimited portal access for clients

            .col-sm-4.col-xs-12
                div(style="border: 1px solid #ddd;")
                    h3.header-1 Cloud Plan
                    h1 R50
                    h4.header-2 per user per month**
                div.header-1-white(style="background-color: rgba(55, 89, 160,1); padding: 5px;")
                    h5 Standard features included:
                    ul.list
                        li Individual user login
                        li 5GB Storage per user/mo
                        li Store all your client info
                        li Unlimited portal access for clients
        br
        row
            .col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
                p **Individual Apps sold separately. Contact your account manager today for a quote.

