section#about.section-2
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 All the Apps you need on one platform.
                br
                h4.header-2 Simply choose the apps that best suit your practice's needs and start working from the cloud today.

        .row
            .col-sm-12.col-xs-12.text-center.hidden-xs
                img.section-pic(src="images/cwcloud-logo.png")