section#request.section-gray
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Request an invite today!
                br

        .row
            .col-sm-12.col-xs-12.text-center
                a.btn.btn-lg.btn-default(data-toggle="modal", data-target="#inviteModal")
                    |Request Invite&nbsp;
                    i.fa.fa-arrow-right