.row
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-tasks.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 What about support and backups?
        p Full backups of every client system are run daily. These are kept for 80 days, with no additional storage costs. 24/7 support is also available. CaseWare Cloud strictly adheres to their <a href="http://www.casewarecloud.com/pdf/CaseWare%20Cloud%20Privacy%20Policy.pdf" target="_blank">Privacy Policy</a> to protect all data and backups.
