section#about.section-2
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 All the Apps you need on one platform.
                br
                h4.header-2 CaseWare Cloud is a secure web-based collaboration environment that greatly improves the way your staff work together and with clients. With hassle-free updates, any-device access and new ways of tracking your engagements, CaseWare Cloud elevates your collaboration efforts to a whole new sphere.

        .row
            .col-sm-12.col-xs-12.text-center.hidden-xs
                img(src="images/cwcloud-logo.png")