section#features.section-3
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Features
                br
                h4.header-2 These are just a few of the features you can expect.
        .row
            .col-sm-4.col-xs-4.text-center.feature-divide
                h2: i.fa.fa-cogs.fa-2x
                p.lead Client Portal
                p Clients can now log-in and view important documents.
            .col-sm-4.col-xs-4.text-center.feature-divide
                h2: i.fa.fa-group.fa-2x
                p.lead CRM
                p All your contacts and clients in one central location.
            .col-sm-4.col-xs-4.text-center.feature-divide-trans
                h2: i.fa.fa-pencil.fa-2x
                p.lead Engagement Management
                p Manage your engagement form start to finish.
        br
        hr
        br
        .row
            .col-sm-4.col-xs-4.col-xs-offset-2.text-center.feature-divide
                h2: i.fa.fa-usd.fa-2x
                p.lead Tax Management
                p Submit your client's Tax returns directly to SARS with <b>TaxWare</b>.
            .col-sm-4.col-xs-4.text-center.feature-divide-trans
                h2: i.fa.fa-clipboard.fa-2x
                p.lead Statutory Management
                p Ensure all your forms are submitted to CIPC timely with <b>SecWare</b>.
        br
        hr
        br
        .row
            .col-sm-4.col-xs-4.text-center.feature-divide
                h2: i.fa.fa-clock-o.fa-2x
                p.lead Time & Expenses
                p With <b>Time on the Go</b>, you can easily capture time and expenses wherever you are.
            .col-sm-4.col-xs-4.text-center.feature-divide
                h2: i.fa.fa-tachometer.fa-2x
                p.lead Analytics
                p <b>CaseWare Analytics</b> allows you to run analysis on your trial balance.
            .col-sm-4.col-xs-4.text-center.feature-divide-trans
                h2: i.fa.fa-folder-open.fa-2x
                p.lead Online File Storage
                p With the power of <b>SmartSync</b>, you can now sunc files with the cloud
