section#about.section-2
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 All the Apps you need on one platform.
                br
                h4.header-2 CaseWare Cloud is a secure web-based collaboration environment that greatly improves the way your staff work together and with clients. With hassle-free updates, any-device access and new ways of tracking your engagements, CaseWare Cloud elevates your collaboration efforts to a whole new sphere.

        .row
            .col-sm-12.col-xs-12.text-center.hidden-xs
                img(src="images/cwcloud-logo.png")

        .row.hidden-xs.subheader
            .col-sm-4
                h3.header-1 Collaboration
            .col-sm-4
                h3.header-1 Engagement Management
            .col-sm-4
                h3.header-1 Productivity

        .row
            .col-sm-4.col-xs-12.feature-divide
                .col-xs-4
                    i.fa.fa-calendar.fa-2x.icon-app
                    p Timeline
                .col-xs-4
                    i.fa.fa-comments.fa-2x.icon-app
                    p Chat
                .col-xs-4
                    i.fa.fa-tasks.fa-2x.icon-app
                    p Activities

            .col-sm-4.col-xs-12.feature-divide
                .col-xs-4
                    i.fa.fa-pencil.fa-2x.icon-app
                    p Q
                .col-xs-4(style="color:#ccc")
                    i.fa.fa-tachometer.fa-2x
                    p Q-Bits
                    p.availability * available Mar 2015
                .col-xs-4
                    i.fa.fa-folder-open.fa-2x.icon-app
                    p SmartSync

            .col-sm-4.col-xs-12.feature-divide-trans
                .col-xs-4
                    i.fa.fa-clock-o.fa-2x.icon-app
                    p Time on the Go
                .col-xs-4
                    i.fa.fa-file.fa-2x.icon-app
                    p Files
                .col-xs-4(style="color:#ccc")
                    i.fa.fa-university.fa-2x
                    p BackOffice
                    p.availability * available Apr 2015



