.row
    .col-sm-2.hidden-xs.text-right
        h2.header-1
            i.fa.fa-support.fa-2x
    .col-sm-10.col-xs-12
        h2.header-1 How is the system supported?
        p Support is handled via the normal CQS support channels. Any service-specific support queries, e.g. relating to data restore or system availability, are forwarded to the CaseWare Cloud support team which has 24/7 availability.
