section#apps.section-apps
    .container
        .row
            .col-sm-4.col-xs-12.feature-divide
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Track activity")
                    i.fa.fa-calendar.fa-2x.icon-app
                    p Timeline
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Chat Online")
                    i.fa.fa-comments.fa-2x.icon-app
                    p Chat
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Allocate Tasks")
                    i.fa.fa-tasks.fa-2x.icon-app
                    p Activities

            .col-sm-4.col-xs-12.feature-divide
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Audit Quality Overview")
                    i.fa.fa-pencil.fa-2x.icon-app
                    p Q
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Run Analytics")
                    i.fa.fa-tachometer.fa-2x.icon-app
                    p Q-Bits
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Sync Files")
                    i.fa.fa-folder-open.fa-2x.icon-app
                    p SmartSync

            .col-sm-4.col-xs-12.feature-divide-trans
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Log Time & Expenses")
                    i.fa.fa-clock-o.fa-2x.icon-app
                    p Time on the Go
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Document Storage & Sharing")
                    i.fa.fa-file.fa-2x.icon-app
                    p Files
                .col-xs-4.popover-feature(data-toggle="popover", data-content="Tax & Secretarial Management")
                    i.fa.fa-university.fa-2x.icon-app
                    p BackOffice

        .row.hidden-xs
            .col-sm-4
                h3.header-1(style="color:#999;") Collaboration
            .col-sm-4
                h3.header-1(style="color:#999;") Engagement Management
            .col-sm-4
                h3.header-1(style="color:#999;") Productivity


