section#pricing.section-pricing
    .container
        .row
            .col-sm-12.col-xs-12.text-center
                h1.header-1 Plans & Pricing
                br
                h4.header-2 How much does CaseWare Cloud cost?
        br
        .row
            .col-sm-4.col-sm-offset-2.col-xs-12
                div(style="border: 1px solid #ddd;")
                    h3.header-1 Trial Plan
                    h1 Free
                    h4.header-2 First 1GB storage free

            .col-sm-4.col-xs-12
                div(style="border: 1px solid #ddd; padding-bottom:25px;")
                    h3.header-1 Paid Plan
                    h1 R50
                    h4.header-1 per user per month**
                    h5.header-1 or R500 per user per year (Billed Annually)

        .row
            .col-sm-4.col-sm-offset-2.col-xs-12.hidden-xs
                div.header-1-white(style="background-color: rgba(55, 89, 160,1); padding:5px;")
                    h5 Standard features included:
                    ul.list
                        li Individual user login
                        li 1GB Storage
                        li Entity, staff and contact management
                        li Working Papers Integration (requires SmartSync)
                        li Unlimited portal access for your clients
                        li Daily Backups
                    h6 Upgrade to  paid plan when 1GB limit is reached

            .col-sm-4.col-xs-12
                div.header-1-white(style="background-color: rgba(55, 89, 160,1); padding: 5px;")
                    h5 Standard features included:
                    ul.list
                        li Individual user login
                        li 5GB Storage per user/month
                        li Entity, staff and contact management
                        li Working Papers Integration (requires SmartSync)
                        li Unlimited portal access for your clients
                        li Daily Backups
                    h6 Additional Storage: $5 for 5GB per month
        br
        row
            .col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4
                p **Individual Apps sold separately. Contact your account manager today for a quote.