div(style="position:fixed;top:0;left:0;z-index:-10;width:100%;background-image:url('images/clouds.jpg');height:780px;")
div(style="position:fixed;top:0;left:0;z-index:-9;width:100%;background:rgba(50,50,50,0.65);height:780px;")
